p {
  font-family: Lato;
}

ul {
  list-style: none;
  padding-left: 0;
}

li.selected {
  text-decoration: line-through;
}

.item-groups-container {
  display: flex;
}

.item-groups-container > div {
  padding-right: 1rem;
}
